---
layout: default
---

<main role="main"> <!-- main content starts here -->

  <section class="gallery-detail">
    <h1>{{page.title}}</h1>    
    <img class="gallery-detail__main-image" src="../images/{{page.category}}/{{page.main_image}}" alt="">
    
    <div class="related-images">
      {% if page.related-images %}
        {% for image in page.related-images %}
        <img class="gallery-detail__image related-images__item" src="../images/{{page.category}}/{{image}}" alt="{{page.title}}">
        {% endfor %}
      {% endif %}  
    </div>

    <a href="{{ '/' | relative_url }}" class="button">Voltar para Galeria</a></h1>
    
  </section>



</main>

