body {
  
}

.master-header {
  padding-top: 40px;
  padding-bottom: 40px;
  
  h1 { text-align: center; }
  h1 > img {
    max-width: 500px;
  }

  nav {
    text-align: center;
  }
}

.footer {
  margin-top: 60px;
  text-align: center;
  padding: 30px 50px;
  background-color: black;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid rgba(black, .5);
  border-radius: 0;
  text-transform: uppercase;
  color: black;
  opacity: .4;

  &.active {
    opacity: 1;
  }
}

.section-divider {
  margin: 100px 0 60px;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 4px;

  a {
    color: rgba(black, .4);
    text-decoration: none;  
    display: inline-block;
    margin: 0 30px;
  }

  a.active {
    font-size: 5rem;
    font-weight: 100;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  flex: 0 0 20%;
  margin: 5px;
  min-width: 20%;
  padding-bottom: 15%;
  position: relative;
  overflow: hidden;
  
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all .8s ease;
    filter: grayscale(100%);
    opacity: .4;
    transform: scale(3.5);
  }

  &__info {
    padding: 10px;
    background-color: rgba(black, .6);
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 100%;
    transition: all .2s ease;

    
    h3 {
      font-weight: 200;
      letter-spacing: .5px;
      margin: 0;
      color: white;
    }
  }
}

.gallery-item:hover {
  .gallery-item__image {
    transition: all .8s ease;
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1);
  }

  .gallery-item__info {
    bottom: 0;
    transition: all .2s ease;
  }


}

