---
layout: default
title: Luiz Philippe Carneiro de Mendonça
subtitle: Artísta Plastico
---

<main role="main"> <!-- main content starts here -->

<h2 id="assamblages" class="section-divider">
  <a href="#esculturas" class="">Esculturas</a>
  <a href="#assamblages" class="active">Assamblages</a>
  <a href="#exposicoes" class="">Exposições</a>
</h2>
<section class="gallery">
{% for item in site.data.gallery %}
  {% if item.category == 'assamblage' %}
    {% include gallery-item.html %}
  {% endif %}
{% endfor %}
</section>

<h2 id="esculturas" class="section-divider">
  <a href="#assamblages" class="">Assamblages</a>
  <a href="#esculturas" class="active">Esculturas</a>
  <a href="#exposicoes" class="">Exposições</a>
</h2>
<section class="gallery">
{% for item in site.data.gallery %}
  {% if item.category == 'escultura' %}
    {% include gallery-item.html %}
  {% endif %}
{% endfor %}
</section>

<h2 id="exposicoes" class="section-divider">
  <a href="#assamblages" class="">Assamblages</a>
  <a href="#exposicoes" class="active">Exposições</a>
  <a href="#esculturas" class="">Esculturas</a>
</h2>
<section class="gallery">
{% for item in site.data.gallery %}
  {% if item.category == 'exposicao' %}
    {% include gallery-item.html %}
  {% endif %}
{% endfor %}
</section>
</main>

